/* This is nav css*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.729);
}
div{
  background-color: rgb(64, 41, 41);
}


.banner{
    display: inline-block;
    margin-left: 280px;
    
}

.logo{
    margin-left: 10px;
    width: 5px;
    display: inline-block; 
}

li {
    list-style: none;
    justify-content: center; 
    display:flex;
    display: inline-block;  
  padding: 5px 50px;
  margin-top: 1px;
  
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 50px; 
  border: 2px solid white;
}

a{
    color: white;
    text-decoration: none;
}

li:hover{
    cursor: pointer;
    background-color: rgb(64, 41, 41);
    transition: 0.5s;
    color:white;
}

ul{
  display: flex;
  justify-content: space-around; 
  
  padding: 20px;

}


/* main css */