/* This is nav css*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.729);
}
div{
  background-color: rgb(64, 41, 41);
}


.banner{
    display: flex;
    padding-left: 20%;
    width: 60%;
}

.logo{
    margin-left: 10px;
    display: inline-block; 
}

li {
    list-style: none;
    justify-content: center; 
    display:flex;
    display: inline-block;  
  padding: 5px 50px;
  margin-top: 1px;
  
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 50px; 
  border: 2px solid white;
}

a{
    color: white;
    text-decoration: none;
    padding: 100%;
}

li:hover{
    cursor: pointer;
    background-color: rgb(64, 41, 41);
    transition: 0.5s;
    color:white;
}

ul{
  display: flex;
  justify-content: space-around; 
  
  padding: 20px;

}
@media (max-width: 400px){
    ul{
      display: inline-block;
    }
    .header{
      display: block;
    }
}

/* home content */
input{
    width: 400px;
    height: 50px ;
    margin-left: 450px;
    border-radius: 20px;

}

#search_box{
    position: relative;
    width: 100%;
    
}
.search_icon{
  position: absolute;
  top: 50%;
  left: 12px;
  width: 5%;
  height: 100%;
  pointer-events: none;
}
#search_box input{
  width: 50%;
  border-radius: 25px;
  border: 2px solid #ccc;
  font-size: 16px;
}


.search-input{
    /* background: ('images/google-mic.png') no-repeat 10px center rgb(243, 207, 207); */
    background: url('/Project_1620/MovieVerse_Project/images/google-mic.png') no-repeat 10px center rgb(238, 242, 248);
    padding-left: 35px;
    height: 40px;
    width: 50%;
    background-size: 18px;
    margin-left: 2%;
    border-radius: 25px;
    text-align: center;
    
    
}

.feature{
  padding: 2%;
  color: #eab3b3;
  font-weight: bolder;
}
.movie{
  display: inline-flex;
  /* background-color: #897f7f; */
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.movie-pic{
  margin: 0.5%;
  background-color: #4f3434;
  padding:2%;
  /* border-radius: 17px; */
}

img{
  margin: 5% 5%;
  border-radius: 20px;
}

.movie-pic:hover{
  cursor: pointer;
}

/* Add your styles here */

/* FOOTER section */
footer{
  background-color: rgb(97, 101, 101);
  margin-top: 10%;
  padding: 2%;
}