/* MovieVerse Project - Starter Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
div{
   background-color: rgb(64, 41, 41);
   margin-bottom: 1px;
}

.banner{
    display: inline-block;
    margin-left: 280px;
    
}
.logo{
    margin-left: 10px;
    width: 5px;
    display: inline-block;
   
}

/* Add your styles here */